<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="PushNotification.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	
	
</head>
<body>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
		<div style="overflow:hidden;">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <div id="datetimepicker12"></div>
            </div>
        </div>
    </div>
        <script>
		function register() {
			var pushNotification = window.plugins.pushNotification;
		 
			if (isAndroidDevice()) {
				pushNotification.register(function(result) {                    
					console.log('Status: ' + result);
				}, function(result) {
					alert('Error handler ' + result);
				}, {
					"senderID": "1011925005611", /* Google developers project number */
					"ecb" : "onNotificationGCM" /* Function name to handle notifications */
				});
			} else {
				alert('Your device platform is not Android!!!');
			}    
		}
		
		function onNotificationGCM(e) {
			switch (e.event) {
				case 'registered':
					if (e.regid.length > 0) {
						var registrationId = e.regid; //GCM Registration ID
						registerOn3rdPartyServer(registrationId);
					}
					break;
		 
				case 'message':
					// handle notification message
					break;
		 
				case 'error':
					// handle error
					break;
		 
				default:
					// handle default
					break;
			}
		}
        </script>
    </div>
</div>
</body>
</html>
